page,.index{
    text-align: center;
    height:100%;
}

.imgBG588{
    height:588PX;
}

.imgBGFull{
    height:100%;
}

.animated.faster {
  -webkit-animation-duration: 50ms;
  animation-duration: 50ms;
}
